# Configuration file

####################
# arsmagica tweaks
####################

"arsmagica tweaks" {
    B:"Can desert novas be obtained"=true
    B:"Can moonstone be obtained"=false
    B:TinkerBridge=true
}


####################
# natura tweaks
####################

"natura tweaks" {
    B:"Can berry bushes be obtained"=true
    B:"Can natura trees be obtained"=true
    B:"Can nether bushes be obtained"=true
    B:"Can nether trees be obtained"=true

    # Redwoods eat every block going both up and down. Use at your own peril. Or enjoyment
    B:"Can redwood trees be obtained"=false
}


####################
# tcon tweaks
####################

"tcon tweaks" {
    # False for counting as an ingot
    B:"Are Gravel/Sand/Dust Ores actually ores"=true
    B:"Can Gravel/Sand/Dust items be smelted"=true
    B:"Can essense bushes be obtained"=true
    B:"Can nether ores be obtained"=true
    B:"Can oreberry bushes be composted"=false
    B:"Can orebushes be obtained"=true
    B:"Enable mini-smelteries"=false

    # Normal is 1/4 the block value. False means dusts are 1/6 the value
    B:"Normal dust value in the smeltery"=true
}


####################
# thaumcraft tweaks
####################

"thaumcraft tweaks" {
    B:"For tundra-less skyblocks"=false

    # Set 0 for default, 1 for tweaked difficulty, and -1 to disable. See the forum post for difficulty changes
    I:"Silverwood Setting"=0
    I:"Thaumium Hammer ID"=20160
}


