# Configuration file

####################
# arrowconfig
####################

arrowconfig {
    S:"CraftedStackSize Confusing Arrow"=4
    S:"CraftedStackSize Dirt Arrow"=4
    S:"CraftedStackSize Exploding Arrow"=4
    S:"CraftedStackSize Fire Arrow"=4
    S:"CraftedStackSize Frost Arrow"=4
    S:"CraftedStackSize Penetrating Arrow"=4
    S:"CraftedStackSize Redstonetorch Arrow"=4
    S:"CraftedStackSize Rope Arrow"=4
    S:"CraftedStackSize Seed Arrow"=4
    S:"CraftedStackSize Slime Arrow"=4
    S:"CraftedStackSize Torch Arrow"=4
    S:"CraftedStackSize Warp Arrow"=4
    S:"Damage Confusing Arrow"=4
    S:"Damage Dirt Arrow"=4
    S:"Damage Exploding Arrow"=4
    S:"Damage Fire Arrow"=4
    S:"Damage Frost Arrow"=4
    S:"Damage Penetrating Arrow"=4
    S:"Damage Redstonetorch Arrow"=4
    S:"Damage Rope Arrow"=4
    S:"Damage Seed Arrow"=4
    S:"Damage Slime Arrow"=4
    S:"Damage Torch Arrow"=4
    S:"Damage Warp Arrow"=4
}


####################
# ""arrows enabled""
####################

"""arrows enabled""" {
    B:"Confusing Arrow"=false
    B:"Dirt Arrow"=false
    B:"Exploding Arrow"=false
    B:"Fire Arrow"=false
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Redstonetorch Arrow"=false
    B:"Rope Arrow"=true
    B:"Seed Arrow"=false
    B:"Slime Arrow"=false
    B:"Torch Arrow"=true
    B:"Warp Arrow"=false
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=1805
    I:blockIdRope=1806
    I:blockIdRopeDJRoslin=1804
    I:blockIdZipLineAnchor=1803
}


####################
# general
####################

general {
    B:"Equipped Bow Tool Tip"=true
    I:"GUI String x coordinate, higher value means more to the right"=2
    I:"GUI String y coordinate, higher value means lower"=10
    B:disableBowHook=false
    I:"max HookShot Rope Length"=50
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=31724
    I:itemIdArrowDirt=31723
    I:itemIdArrowExplosion=31722
    I:itemIdArrowFire=31721
    I:itemIdArrowGrass=31720
    I:itemIdArrowIce=31719
    I:itemIdArrowLaser=31718
    I:itemIdArrowRedstoneTorch=31713
    I:itemIdArrowRope=31717
    I:itemIdArrowSlime=31716
    I:itemIdArrowTorch=31715
    I:itemIdArrowWarp=31714
    I:itemIdGrapplingHook=31726
    I:itemIdHookShot=31712
    I:itemIdHookshotCartridge=31711
    I:itemIdRope=31727
    I:itemIdRopesPlusBow=31725
}


